@import '../../styles/mixins.module.scss';

.keyboard {
  @include calc-element;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 48px;
  gap: 8px;

  &_inactive {
    opacity: 0.5;
  }
}