@import '../../styles/mixins.module.scss';

.keyboard {
  padding: 10px 4px;
  position: relative;

  &_inactive {
    opacity: 0.5;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 48px;
  gap: 8px;
}

.dropLine {
  @include dropLine;
}

