.filterCheckbox {
  display: flex;
  justify-self: end;
  background-color: #F3F4F6;
  grid-area: 1 / 1 / 2 / 3;
  border-radius: 6px;
  color: #4D5562;
}

.switch {
  display: inline-block;
  position: relative;
  width: 243px;
  height: 38px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    content: "";
    background-image: url('../../media/runtime.svg');
    width: 108px;
  };

  &::after {
    position: absolute;
    top: 0; bottom: 0; left: 108; right: 0;
    content: "";
    background-image: url('../../media/constructor.svg');
    width: 133px;
  };
}

.input {
  display: none;

  &:checked + .slider {
    transform: translateX(108px);
    background-color: #FFF;
    width: 133px;
  }

  &:checked + .slider:before {
    background-image: url('../../media/constructor\(checked\).svg');
  }
}

.slider {
  position: absolute;
  top: 1px; bottom: 0; left: 1px; right: 0;
  cursor: pointer;
  height: 36px;
  width: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border-radius: 6px;
  z-index: 2;

  &::before {
    position: absolute;
    content: '';
    top: 0; bottom: 0; left: 0; right: 0;
    background-image: url('../../media/runtime\(checked\).svg');
    background-repeat: no-repeat;
    transition: 0.4s;
  }
}